td[contenteditable="true"] {
  min-width: 30px;
  min-height: 20px;
  padding: 6px 10px;
  font-size: 16px;
  border: 1px solid #888;
}
.headŘádek {
  min-width: 30px;
  min-height: 30px;
  padding: 6px 10px;
  font-size: 16px;
  border: 1px solid #888;
}

td {
  min-width: 30px;
  min-height: 20px;
  padding: 6px 10px;
}